.vs/
bin/
lib/
Source/MyString/x64/
Source/MyStringTest/x64/
Source/MyString/Win32/
Source/MyStringTest/Win32/
Source/MyString/Debug/
Source/MyString/Release/
Source/MyStringTest/Debug/
Source/MyStringTest/Release/
Source/packages/
Source/TestMyString/x64/
Source/TestMyString/x32/
Source/TestConsole/TestConsole.vcxproj.user
Source/TestMyString/TestMyString.vcxproj.user

Source/TestConsole/x64/
Source/TestConsole/Win32/
Source/TestConsole/Debug/
Source/TestConsole/Release/
